<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <a :href="servInv">JOIN DISCORD</a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DiscordApi',
  data () {
    return {
      servInv: '',
      servName: '',
      members: ''
    }
  },
  methods: {
    getApi: function() {
      axios.get('https://discordapp.com/api/guilds/386626373214535701/widget.json')
        .then((response)=>{
          let data = response.data;

          this.servName= data.name
          this.servInv = data.instant_invite

          for(let players in data.members)
          {
            this.members++
          }

        })
        .catch((error)=>{
          console.log(error);
        });
    }
  },
  mounted(){
    this.getApi();
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a{color:white; border:1px solid white; padding:10px 10px 10px 10px; font-size:30px;-webkit-transition: color 0.5s, background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s, background 0.5s;}
a:hover{color:white; text-decoration: none; color:black; background: white;}


</style>
