<template>
    <div class="container-fluid" id="bg">
      <div>
        <div class="row">
          <div class="col-xs-12" id="header">
            <img :src="imgPath" height="150px" width="250px" class="img-responsive"/>
          </div>
        </div>
        <separator/>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Braaand new independent Gothic Multiplayer Platform.<br>Will be deployed soon, but now join our Discord server.<br></h2>
          </div>
        </div>
        <separator/>
        <separator/>
        <div class="row">
          <div class="col-xs-12" id="button">
          <discord class="text-center"/>
          </div>
        </div>
      </div>
      </div>
</template>

<script>
import axios from 'axios'
import Discord from './Discord'
import Separator from './Separator'

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      res: {},
      imgPath: '../src/files/logo1.png'
    }
  },
  components: {
    discord: Discord,
    separator: Separator
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#menu{min-height:100%;background: rgba(0,0,0,0.4); color:white;}
#bg{background: #000; color:white; border:2px solid white; margin-left:10px; margin-right:10px;}
#test {border:2px solid black}
#header{margin-top:30px;}
#button{margin-bottom:50px;}
.klocek{padding:100px; border:1px solid black;}
.img-responsive{margin: 0 auto;}
i{color:#fff; text-align: center; font-size: 50px;}

</style>
