<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" id="separator">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DiscordApi',
  data () {
    return {
      discordInfo: [{
        'servName': '',
        'servInv': ''
      }]
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#separator{height: 100px;}
</style>
