<template>
  <div id="app" style="background-color:black; padding-top:10px; padding-bottom:10px;">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
.container-fluid{padding: 0px; margin: 0px;}
* {font-family: 'Shadows Into Light', cursive;}
</style>
